body {
    font-family: 'Lato', sans-serif;
    color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}