body {
    flex-direction: column;
}

/* Labels' Settings */
#labels_container {
    display: flex;
    width: 80%;
}
#labels_container div {
    width: 19%;
    margin-right: 8%;
    /* border: 3px solid black; */
    /* padding: 1%; */
}
#labels_container div:last-of-type {
    margin-right: 0;
}
#labels_container div p:last-of-type {
    text-align: center;
}

/* Donut Charts' Settings */
#donuts_container {
    width: 80%;
    display: flex;
}
#donuts_container div {
    /* width: 19%; */
    z-index: 1;
    margin-right: 8%;
    /* border: 3px solid black; */
}
#donuts_container div:last-of-type {
    margin-right: 0;
}
