body {
    flex-direction: column;
}

/* Labels' Settings */
#labels_container {
    display: flex;
    width: 80%;
}
#labels_container div {
    width: 19%;
    margin-right: 8%;
    /* border: 3px solid black; */
    /* padding: 1%; */
}
#labels_container div:last-of-type {
    margin-right: 0;
}
#labels_container div p:last-of-type {
    text-align: center;
}

/* Donut Charts' Settings */
#donuts_container {
    width: 80%;
    display: flex;
}
.donut_container {
    /* width: 19%; */
    z-index: 1;
    margin-right: 8%;
    /* border: 3px solid black; */
}
.donut_container:last-of-type {
    margin-right: 0;
}

/* Donut Chart Percentages Settings */
#percentages {
    width: 80%;
    z-index: 2;
    display: flex;
    position: absolute;
    margin-top: -3%;
    font-size: 1.6em;
}
#percentages div {
    width: 19%;
    margin-right: 8%;
    text-align: center;
}
#percentages div:last-of-type {
    margin-right: 0%;
}

/* Line Charts' Settings */
#lines_container {
    width: 80%;
    display: flex;
}
.line_container {
    width: 45%;
    margin-right: 10%;
    /* border: 3px solid black; */
}
.line_container:last-of-type {
    margin-right: 0;
}