/* Global Variables */
:root {
  --border-radius:1rem;
  --body-background:#1B213B;
  /* Button Styling */
  --accent-color: #03e9f4;
  --white-color: #fff;
  --box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
  0 0 100px #03e9f4;
  --body-font: "Montserrat", sans-serif;
  --font-regular: 400;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Page Basic Styles */
html {
  height: 100%;
}
body {
  background: var(--body-background);
  color: #bfbfbf;
  font-family: Montserrat, Arial, sans-serif;
}
.body-bg {
  background: #F3F4FA !important;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}
.box .apexcharts-xaxistooltip {
  background: #1B213B;
  color: #fff;
}
.content-area {
  max-width: 1280px;
  margin: 0 auto;
}
.columnbox {
  padding-right: 15px;
}
.apexcharts-legend-series tspan:nth-child(3) {
  font-weight: bold;
  font-size: 20px;
}
.container-fluid {
  padding: 0;
}
.main {
  margin: 3% 5%;
}

/* Container Styles */
.box {
  background-color: #262D47;
  padding: 15px 25px;
}
.style_box {
  padding-top: 0 !important;
}
.row div {
  border-radius: var(--border-radius);
}

/* Labels Styles */
#labels_container .box p:first-of-type {
  margin-bottom: 0.5rem;
}
#labels_container .box p:last-of-type {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

/* Donut Chart Styles */
#circle_container {
  height: 100%;
}
#circle_layer {
  width: 74%;
  z-index: 2;
  position: absolute;
}

/* Line Chart Styles */
#line_container, #column_container {
  padding-bottom: 15px;
}

/* Scrollbar Styles */
.scrollbar {
  float: left;
  width: 100%;
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* Considerable Colors */
  /* background-color: #2c3551; */
  background-color: #333c56;
}
.scrollbar::-webkit-scrollbar {
  width: 12px;
}
.scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  /* Considerable Colors */
  /* background-color: #6576AE; */
  /* background-color: #586590; */
  background-color: #4B5578;
}

/* Logout Button Styles */
ul {
  list-style: none;
}
#button_container {
  right: 2%;
  top: 2%;
  position: absolute;
  z-index: 2;
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  background-color: var(--body-background);
}
.button-animation {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 4px;
  transition: 0.5s;
  /* Set button size */
    padding: 10px 30px;
}
.button-animation span {
  position: absolute;
  display: block;
}
.button-animation span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--accent-color));
  animation: btn-anim1 1s linear infinite;
}
/* Log Out Button Animation */
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}
.button-animation span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--accent-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}
.button-animation span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--accent-color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}
.button-animation span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--accent-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
.button-animation:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* Title Styles */
.titles {
  font-size: 1rem;
  color: #969696;
  margin-bottom: 10px;
}
#dashboard_title {
  width: 100%;
  margin-bottom: 0.8rem;
}
h3 {
  margin: 0 auto;
}